
body::before {

  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url(https://i.pinimg.com/originals/97/a5/32/97a532b3eb1a540f431c8c142c6cc499.jpg);
  -webkit-animation: backgroundZoomAnimate 20s forwards;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  animation: backgroundZoomAnimate 20s forwards;
  
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

#login {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Bungee', cursive;


}


.card-login {

  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.523);
  border-radius: 10%;
  width: 350px;
  height: 450px;
  position: fixed;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  flex-direction: column;
  gap: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;

}

.card-header { 

  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 10px;
  line-height: 43px;
  font-size: 18px;

}
.card-header h1 {
  font-size: 18px;
}

.card-header img {
  
  width: 80px;

}

.card-content label {

  color: rgb(255, 255, 255);
  font-size: 15px;

}

.card-content-area {

  display: flex;
  flex-direction: column;
  padding: 15px 0;
  font-size: 15px;

}

.card-content-area input {
  height: 29px;
}
.card-content-area #usuario {
  height: 29px;
}


.card-footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-footer .validar {

  width: 80%;
  height: 40px;
  background-color: #c52a56;
  border: none;
  color: #e1e1e1;
  margin: 10px 0;
  border-radius: 10px;
  flex-direction: center;
  font-size: 22px;
  cursor: pointer;

}

.card-footer a {

  text-align: center;
  font-size: 15px;
  color: #fff;
  text-decoration: none;

}

.card-footer input:hover {

  background-color: #7c234e;

}