* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  
}


body {
  background-color: rgba(255, 255, 255, 0);
}

a {
  color: #dbc8a4;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color: #c52a56;
}
.logo {
  width: 654px
}
.logo img {
  display: flex;
  align-items: center;
  width: 300px;
  height: 105px;
}
.logo a {
  display: flex;
  align-items: center;
  width: 75%;
  height: 105px;
}

.logo img {
  width: 31%;
}
.logo p {
  color:#dbc8a4;
  font-size: 30PX;
  width: 100%;
}
li {
  position: relative;
}

 li a:after{

  content: "";
  position: absolute;
  background-color: #c52a56;
  height: 3px;
  width:0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
  a:hover:after {
      width: 100%;  
  }

  footer a:hover:after {
    width: 46%;  
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bungee', cursive;
    background: #23232e;
    height:11vh;
  }
  
  ul.nav-list {
    list-style: none;
    display: flex;
  }
  
  ul.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
 
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  div.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  .nav-list.active {
    transform: translateX(0);
    z-index: 11;
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
.dados{
    height: 510px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
}
.dados .central {
  width: 18%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  
  
}
section .dados {
  margin: 72px 0;  
}
.dados .central .card-perfil {
  margin-top: 42px;
}

div.card-perfil {
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto;
  width: 165px;
  height: 155px;
  border-radius: 100%;
  cursor: pointer; 
  border: 2px solid rgb(40, 57, 76);
  box-shadow: rgb(40, 57, 76) 0px 10px 20px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
div.central .div-buttons {
  
  margin-top: 13px;
  margin-left: 10px;
}
div.central .div-buttons a{
  margin-left: 10px;
  text-align: center;
  color: #dbc8a4;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  border-radius: 19px;
  background: rgb(31 39 48);
  height: 30px;
  width: 68%; 
  overflow: hidden;
  
}
div.central .div-buttons a:hover {
  transform: scale(1.1);
  box-shadow: black 0px 10px 20px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color:#c52a56;
}
div.central .div-buttons img {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

div.central {
  background-color: #23232e  ;
  box-shadow: black 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
div.central h2 {
  color: #dbc8a4;
}

div.card-perfil:hover {
  transform: scale(1.1);
}
div.card-perfil img {
   width: 100%; 
}


.dados .central .name {
  font-size: 18px;
  font-family: 'Bungee', cursive;
  margin: 0 auto ;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dados .central .bio {
  margin: 0 auto;
  height: 100px;
  width: 80%;
  border: 2px solid rgb(33, 42, 53);
  padding: 2px 10px;
  overflow: hidden;
  
}
.dados .central .bio:hover {
  overflow-y:scroll;
}

.dados .central .bio p {
  color: #dbc8a4;
  font-size: 13px;
}
footer{
  background: #23232e;
  padding: 50px 0;
  margin-top: 15px;
}
footer a:hover:after {
  width: 48%;  
}
footer li a::after {
  left: 10px;
}
.container-footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 22px;
  color: #dbc8a4;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 10px 0;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #dbc8a4;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #cecdcd;
  padding-left: 10px;
}

.footer-col .form-sub input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  background-color: #dbc8a4;
  border: 1px solid ;
  color: #dbc8a4;
  background-color: #c52a56;
}
.footer-col .form-sub input::placeholder{
  color: #dbc8a4;
}
.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px; 
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #c52a56;
  border-radius: 3px;
  font-weight: bold;
  background-color: #dbc8a4;        
}

@media screen and (max-width: 1440px) {
  .section-cards {
     display: grid;
  }


   div.dados {
   
    display: grid;
    grid-template-columns: repeat(3,27%);
    height: auto;
    row-gap: 90px;
    width: 100%;
   }

   .dados .central {
    width: 100%;
    padding-bottom: 34px;
   }
}
@media screen and (max-width: 1100px) {
  .section-cards {
     display: grid;
  }


   div.dados {
   
    display: grid;
    grid-template-columns: repeat(2,42%);
    height: auto;
    row-gap: 90px;
    width: 100%;
   }

   
}

@media  (max-width: 1150px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li a {
    font-size: 20px;
    }
  .mobile-menu {
    display: block;
  }
 .cards {
  width: 183px;
  height: 343px;
 }
.catalogo_produtos .central {
  grid-template-columns: repeat(3,34%);
  gap: 37px;
}


}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    
   div.dados {
    grid-template-columns: repeat(1,80%);
    row-gap: 50px;
   }
   .logo p{
    font-size: 24px;
   }
}
@media screen and (max-width:480px) {

  .logo  p {
   font-size: 17px;
 }
}

@media screen and (max-width:380px) {

  .logo  p {
   font-size: 17px;
 }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
